<div class="container-fluid dark-grey">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="reset">
                <h3 class="reset__header-text">Reset Password</h3>
                
                <div class="reset__input">
                    <input type="number" placeholder="Enter Phone Number" max="0" maxlength="11" class="reset__input-number" required>
                </div>
                
                <div class="reset__btn">
                    <a href="sign-in.html" class="reset__btn-first">Reset <span class="arrow"> &rarr;</span></a>
                </div>
            </div>
        </div>
    </div>		
</div>