

<div class="container-fluid dark-grey">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="login">
                <h3 class="login__header">Log into account</h3>
                
                <div class="login__input">
                    <input type="number" placeholder="Enter Phone Number" max="0" maxlength="11" class="login__input-number" required>
                 
                    <input type="password" placeholder="Password" class="login__input-password" required>
                </div>
                
              <a href="dispatcherDashboard.html" class="login__btn">log in</a>
                
                <p class="login__forgot">forgot password? click <a href="reset.html" class="click">HERE <span class="arrow">&rarr;</span></a></p>
            </div>
        </div>
    </div>		
</div>