:root {
    --color-primary: #b08746;
    --color-primary-light: #eb9c09;
    --color-primary-dark: #8f6304;
    
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    
    --line: 2px solid var(--color-grey-light-2);
    
    /* all these are CSS custom properties, also known as CSS variables */
    
    /* they are declared here so all other elements can inherit them. :root pseudo-class is same thing as the HTML selector but with a higher specifity */
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit; /* inherits box-sizing from html */
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}

body {
    /* font-family: 'Gafata', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; /* minimum height is 100vh but if the height can be bigger than that, then it will simply get bigger */
}

.navbar {

}

.navbar-brand {
    
}

.nav-link {
    
}

.header {
    background: url('https://res.cloudinary.com/dkprwxflx/image/upload/v1516808569/truck-2755172_960_720_sk2kry.jpg') no-repeat center;
    height: 80vh;
    background-size: cover;
}

.header__content {
    padding: 15rem 5rem 0 5rem;
    margin: 0 auto;
    width: 95%;
}

.heading {
    text-align: center;
    margin-bottom: 5rem;
    animation-duration: 2.5s
}

.header__content-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link__started,
.link__apps {
    font-size: 2.5rem;
    font-weight: 600;
    color: peru;
    margin: 0.5rem;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1rem 1.5rem;
}

.link__started:hover,
.link__apps:hover {
    text-decoration: none;
    color: peru;
    background-color: olive;
    border: none;
}

.works {
    padding: 5rem 5rem 10rem 5rem;
    background-color: #987;
}

.works__heading {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

.works__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.works__content-one,
.works__content-two,
.works__content-three {
    width: 30rem;
    padding-bottom: 3rem;
    background-color: orangered;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.671);
    margin: .5rem;
    border-radius: 2px;

    font-size: 3rem;
    font-weight: 300;
    transition: all .3s;
}

.works__content-one:hover,
.works__content-two:hover,
.works__content-three:hover {
    transform: translateY(-2px);
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.app,
.up,
.book {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4rem;
}

.testimonial {
    padding: 5rem 5rem 10rem 5rem;
    background-color: darkgrey;
}

.testimonial__heading {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

.testimonial__contain {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.testimonial__one,
.testimonial__two,
.testimonial__three,
.testimonial__four {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

    background-color: #fff;
    /* margin: 2rem auto; */
    border-radius: 5px;
    width: 50rem;
    padding: 2.2rem 3.2rem 10rem 3.2rem;
    margin: 0.9rem;
}

.testimonial__text {
    font-size: 1.7rem;
}

.testimonial__cust {
    display: flex;
    justify-content: space-around;
}

.cust__img {
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
}

.main__cust {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    font-weight: 600;
}

.cust__name {
    margin-left: 1rem;
}

.apps {
    padding: 5rem 10rem 5rem 10rem;
    background-color: #010134;
}

.apps__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.apps__heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5rem;
}

.apps__google,
.apps__apple,
.apps__windows {
    width: 20rem;
}

.footer {
    background-color: darkgrey;
    padding: 10rem;
}